@page "/facilities/delete/{BuildingId}"
@inherits DeleteBuildingModel

<h2>Delete</h2>
<h3>Are you sure you want to delete Building with id : @BuildingId</h3>
<br />

<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Building Name</td>
            <td>@Building.BuildingName</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@Building.Address</td>
        </tr>
        <tr>
            <td>City</td>
            <td>@Building.City</td>
        </tr>
        <tr>
            <td>State</td>
            <td>@Building.State</td>
        </tr>
    </table>
    <div class="form-group">
        <input type="submit" value="Delete" onclick="@(async () => await Delete())" class="btn btn-default" />
        <input type="submit" value="Cancel" onclick="@Cancel" class="btn" />
    </div>
</div>