@page "/facilities/editbuilding/{BuildingId}"
@inherits EditBuildingModel

<h2>Edit</h2>
<h4>Buildings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form onsubmit="return false;">
            <div class="form-group">
                <label for="BuildingName" class="control-label">Building Name</label>
                <input for="BuildingName" class="form-control" bind="@Building.BuildingName" />
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address</label>
                <input asp-for="Address" class="form-control" bind="@Building.Address" />
            </div>
            <div class=" form-group">
                <label asp-for="City" class="control-label">City</label>
                <input asp-for="City" class="form-control" bind="@Building.City" />
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label">State</label>
                <input asp-for="State" class="form-control" bind="@Building.State" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" onclick="@(async () => await UpdateBuilding())" class="btn" />
                <input type="submit" value="Cancel" onclick="@Cancel" class="btn" />
            </div>
        </form>
    </div>
</div>
