@page "/facilities/fetchbuilding"
@inherits FetchBuildingModel

<h1>Building Data</h1>

<p>This component demonstrates fetching Building data from the server.</p>


<p>
    <a href="@FacilitiesPages.AddBuilding">Create New</a>
</p>

@if (Buildings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Building Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Buildings)
            {
                <tr>
                    <td>@emp.BuildingId</td>
                    <td>@emp.BuildingName</td>
                    <td>@emp.Address</td>
                    <td>@emp.City</td>
                    <td>@emp.State</td>
                    <td>
                        <a href='@FacilitiesPages.EditBuilding/@emp.BuildingId'>Edit</a>  |
                        <a href='@FacilitiesPages.DeleteBuilding/@emp.BuildingId'>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
