@page "/humanresources/delete/{EmployeeId}"
@inherits DeleteEmployeeModel

<h2>Delete</h2>
<h3>Are you sure you want to delete employee with id : @EmployeeId</h3>
<br />

<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Name</td>
            <td>@Employee.Name</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@Employee.Gender</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>@Employee.Department</td>
        </tr>
        <tr>
            <td>City</td>
            <td>@Employee.City</td>
        </tr>
    </table>
    <div class="form-group">
        <input type="submit" value="Delete" onclick="@(async () => await Delete())" class="btn btn-default" />
        <input type="submit" value="Cancel" onclick="@Cancel" class="btn" />
    </div>
</div>